src/main/mule/region-orders.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="region-orders-config" api="region-orders.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="region-orders-main">
        <http:listener config-ref="http-listener-config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="region-orders-config" />
		<error-handler ref="error-handler" />
    </flow>
    <flow name="get:\orders:region-orders-config" doc:id="846467d8-d35e-46b8-aa6f-8c73dd48c618">
		<flow-ref doc:name="Flow Reference" doc:id="6a0c8fc2-cacf-426a-b641-3420b1ca6ece" name="ordersSub_Flow1"/>
		<error-handler ref="error-handler" />
    </flow>
    <flow name="region-orders-console">
        <http:listener config-ref="http-listener-config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="region-orders-config" />
		<error-handler ref="error-handler" />
    </flow>
	<flow name="get:\records:region-orders-config" doc:id="d142b1dc-99f2-4130-b4f7-eb99c2f02514">
		<flow-ref doc:name="Flow Reference" doc:id="e52a4cfa-0242-413e-8279-9d33d2f94a8c" name="recordsSub_Flow"/>
		<error-handler ref="error-handler" />
    </flow>
</mule>
